---
import '../styles/global.css';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Document</title>
	</head>
	<body>
		Index page
		<p>
			<label for='theme-select'>Pick your color scheme</label>
			<select
				name='theme'
				id='theme-select'
			>
				<option
					value='theme-system'
					id='theme-system'
					>System</option
				>
				<option
					value='theme-light'
					id='theme-light'
					>Light</option
				>
				<option
					value='theme-dark'
					id='theme-dark'
					>Dark</option
				>
			</select>
		</p>
	</body>
</html>
